<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Pago de Pasajes</title>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
 
<body class="container py-5">
  <h2 class="text-center mb-4">Pago de Tickets</h2>

  <div id="resumenCompra" class="mb-4"></div>

  <div class="text-center">
    <button class="btn btn-success px-5" id="confirmarPagoBtn">Confirmar y Pagar</button>
  </div>

  <div id="estadoPago" class="mt-4 text-center"></div>

  <script type="module" src="/src/scripts/Client/payment.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

